mechanic: __mechanic_id__
levels:
  - id: SMOKE_01
    title: Adapter Smoke
    role: mechanic_witness
    status: candidate
    targets: []
    known_before: []
    target_learning: []
    support_level: none
    expected_solver_evidence:
      - solvable
    expected_llm_player_evidence: []
    layout: |-
      #####
      #@G #
      #####
